
.footer {
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #240b36,
      #c31432
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #240b36,
      #c31432
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.541);
    padding: 20px;
  }
  
  .nombres {
    color: white;
    background-color: rgba(128, 128, 128, 0.685);
    border-radius: 20px;
    padding: 20px;
  }
  
  .logoFooter {
    width: 150px;
    height: 250px;
    border-radius: 20px;
  }