.detalles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgba(128, 128, 128, 0.425);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 20px;
  }
  .lista_nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }