.contenedorVerMas{
    display: flex;
    justify-content: center;
    align-items: center;
}


.masPelis{
    font-size: 18px; 
    padding: 12px 28px; 
}

.titulos {
    text-align: center;
    color: white;
    font-weight: bold;
  }

