* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4ca1af,
      #2c3e50
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4ca1af,
      #2c3e50
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .logoFooter {
    width: 150px;
    height: 250px;
    border-radius: 20px;
  }
  
  
  .header {
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #240b36,
      #c31432
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #240b36,
      #c31432
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.541);
  }
  
  .links {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  
  .barra {
    color: white;
    text-decoration: none;
  }
  
  
  .img_detalle {
    width: 150px;
    height: 250px;
    border-radius: 20px;
  }
  
  
  .footer {
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #240b36,
      #c31432
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #240b36,
      #c31432
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.541);
    padding: 20px;
  }
  
  @media (max-width: 390px) {
    .header {
      width: 100%;
      flex-direction: column;
    }
    .logo {
      width: 20%;
      height: 20%;
    }
  
    .barra {
      font-size: 13px;
    }
    .body {
      display: flex;
      flex-direction: column;
    }
    .listado_detalle_generos-Favoritos-home-search {
      justify-content: center;
      margin: 0;
      align-items: center;
      flex-direction: column;
      background-color: transparent;
    }
  
    .fotos {
      padding-bottom: 10px;
    }
    .footer {
      width: 100%;
      flex-direction: column;
    }
    .nombres {
      margin: 10px;
    }
  
    .genero {
      padding: 0;
      background-color: transparent;
      margin: 0;
    }
  
    .listas_generos {
      padding: 0;
    }
  
    .detalles {
      flex-direction: column;
      align-items: center;
      background-color: transparent;
      margin: 0;
    }
  }
  